:root {
  --color-first: #316fea;
  --color-second: #d3d8dc;
  --color-third: #bec5cc;
  --color-fourth: #e3e6e9;
  --color-fifth: #060e1e;
  --color-placeholder: #a1abb5;
  --color-error: #ff3b3a;

  --font-family: 'Basis Grotesque Pro', sans-serif;
}
